<!DOCTYPE html>
<html>
  <head>
    <title> Автодеталі </title>
     <link rel="stylesheet" href="jquery.rateyo.scss"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tag %>
  </head>

  <body>
  

 <nav class="navbar navbar navbar-default">

 
  <div class="container-fluid">
    <div class="navbar-header">
     
      <%= link_to image_tag("logo.jpg", height: '60', width: '60'), root_path %>
    </div>

    <ul class="nav navbar-nav">
      <li class="active"> <%= link_to "My Cart", orders_path %></li>

        <% if user_signed_in? %>
        
        <li><%= link_to current_user.email, profile_path  %></li>
        <li><%= link_to 'Ваші повідомлення', conversations_path %></li>
        <li><%= link_to 'Logout', sign_out_path %></li>
         <% else %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><span class="glyphicon glyphicon-user"> <%= link_to 'Registration', sign_up_path %></span> </li> <br />
      <li><span class="glyphicon glyphicon-log-in"> <%= link_to 'Login', sign_in_path %></span> </li>
       <% end %>
    </ul>
  </div>
</nav> 
  <%= yield %>
  

  <script src="jquery.js"></script>
  <script src="jquery.rateyo.js"></script>

  </body>
</html>

